body{
    background: blue
}
h2{
    font-family: comic sans ms; background-color: red; text-align: center
}
table{
    background: grey;
    border-style: dotted;
}
.td{
        font-weight: bold
    }